In [1]:
import pandas as pd
from graph import *
from embeddings import *
from visualization import *
from ER import *

Training is starting
T_exec embedding generation: 0.04930996894836426s
Iter number: 0 / 2
Iter number: 1 / 2
Iter number: 0 / 2
Iter number: 1 / 2
Found: 4 Total: 6 Percentage: 0.6666666666666666
Finish

In [2]:
entity_resolution(r'C:\Users\frapu\Desktop\GeneralPurposeTableEmbedding\Datasets\testAB.csv', r'C:\Users\frapu\Desktop\GeneralPurposeTableEmbedding\Datasets\testBC.csv', directory_name_out=r'C:\Users\frapu\Desktop\GeneralPurposeTableEmbedding\TestDir')

Training is starting
T_exec embedding generation: 0.002002716064453125s
Iter number: 0 / 2
Iter number: 1 / 2
Iter number: 0 / 2
Iter number: 1 / 2

In [3]:
n_top_A, n_top_B, index_to_token = load_n_topr(r'C:\Users\frapu\Desktop\GeneralPurposeTableEmbedding\TestDir')

In [4]:
n_top_A

{2: [(9, tensor(0.0363, requires_grad=True)),
  (10, tensor(-0.0530, requires_grad=True))],
 5: [(10, tensor(0.0338, requires_grad=True)),
  (9, tensor(-0.0039, requires_grad=True))]}

In [5]:
n_top_B

{9: [(2, tensor(0.0363, requires_grad=True)),
  (5, tensor(-0.0039, requires_grad=True))],
 10: [(5, tensor(0.0338, requires_grad=True)),
  (2, tensor(-0.0530, requires_grad=True))]}

In [1]:
import torch

In [2]:
torch.cuda.is_available()

True

In [1]:
import pandas as pd
df = pd.read_csv('/home/francesco.pugnaloni/GeneralPurposeTableEmbedding/Tests/MSD/Datasets/msd-master.csv')

In [3]:
df.head()xxx

,artist_name,duration,release,title,year
0,faster_pussy_cat,252.05506,monster_ballads_xmas,silent_night,2003.0
1,karkkiautomaatti,156.55138,karkuteill,tanssi_vaan,1995.0
2,hudson_mohawke,138.97098,butter,no_one_could_ever,2006.0
3,yerba_brava,145.05751,de_culo,si_vos_quers,2003.0
4,der_mystic,514.29832,rene_ablaze_presents_winter_sessions,tangle_of_aspens,NaN

In [4]:
df.iloc[:100000,:]

,artist_name,duration,release,title,year
0,faster_pussy_cat,252.05506,monster_ballads_xmas,silent_night,2003.0
1,karkkiautomaatti,156.55138,karkuteill,tanssi_vaan,1995.0
2,hudson_mohawke,138.97098,butter,no_one_could_ever,2006.0
3,yerba_brava,145.05751,de_culo,si_vos_quers,2003.0
4,der_mystic,514.29832,rene_ablaze_presents_winter_sessions,tangle_of_aspens,NaN
...,...,...,...,...,...
99995,ruff_driverz,449.85424,total_workout_club_classics_1_extended_version...,waiting_for_the_sun,1999.0
99996,4_letter_holiday,191.65995,what_ive_come_across,what_ive_come_across,NaN
99997,guadalupe_pineda,217.80853,mexicanisimo,cuando_sale_la_luna,NaN
99998,ciaran_byrne,205.92281,galtrim,22_parasomnia,2006.0
99999,orange_sector,221.51791,masquerade,prisoner,1998.0

In [2]:
'luca'.split()
import re

In [3]:
t = 'luca'
re.split(' |_',t)

['luca']

In [7]:
(0.0023 // 0.002)*0.002

0.002

In [9]:
557898//100000*100000

500000

In [10]:
import math

def get_order_of_magnitude(number):
    if number == 0:
        return 0  # Logarithm of 0 is undefined, return 0 as the order of magnitude
    else:
        return int(math.floor(math.log10(abs(number))))

# Esempio di utilizzo
number = 12345
order_of_magnitude = get_order_of_magnitude(number)
print(order_of_magnitude)  # Output: 4

4

In [13]:
n = float("23456")
div = 10 ** get_order_of_magnitude(n)
n//div*div
xxxx

20000.0

In [22]:
"589589,243".isdigit()

False

In [23]:
def is_float(string):
    try:
        float(string)
        return True
    except ValueError:
        return False

In [25]:
import pandas as pd
pd.NA

In [26]:
float(True)

1.0

In [27]:
float(False)

0.0

In [28]:
str(True)

'True'

In [29]:
float(pd.NA)

TypeError: float() argument must be a string or a real number, not 'NAType'

In [30]:
str(pd.NA)

'<NA>'

In [32]:
isinstance(pd.NA, str)

False

In [38]:
import datetime
None == None

True

In [40]:
pd.NA == pd.NA

In [2]:
import re

In [4]:
out = 'luca|zecchini'

In [10]:
re.split(' |_|\|', out)

['luca', 'zecchini']

In [3]:
from graph import *

In [4]:
g = Graph(directory_name="/home/francesco.pugnaloni/GeneralPurposeTableEmbedding/Tests/dblp_acm/Files")

In [5]:
[t for t in g.token_to_index.keys() if str(t).startswith("at_")]

['at_id', 'at_title', 'at_venue', 'at_year', 'at_author']

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/home/francesco.pugnaloni/GeneralPurposeTableEmbedding/Tests/dblp_acm/Datasets/dblp_acm-tableA.csv')

In [3]:
df.columns

Index(['id', 'title', 'venue', 'year', 'author_1', 'author_2', 'author_3',
       'author_4'],
      dtype='object')

In [4]:
max(df.loc[:,'year'])

2003

In [5]:
min(df.loc[:,'year'])

1994

In [6]:
df.head(10)

,id,title,venue,year,author_1,author_2,author_3,author_4
0,journalssigmodmackay99,semantic_integration_of_environmental_models_f...,sigmod_record,1999,d_scott_mackay,NaN,NaN,NaN
1,confvldbpoosalai96,estimation_of_queryresult_distribution_and_its...,vldb,1996,viswanath_poosala,yannis_e_ioannidis,NaN,NaN
2,confvldbpalpanasscp02,incremental_maintenance_for_nondistributive_ag...,vldb,2002,themistoklis_palpanas,richard_sidle,hamid_pirahesh,roberta_cochrane
3,confvldbgardaringt96,costbased_selection_of_path_expression_process...,vldb,1996,zhaohui_tang,georges_gardarin,jeanrobert_gruser,NaN
4,confvldbhoels95,benchmarking_spatial_join_operations_with_spat...,vldb,1995,erik_g_hoel,hanan_samet,NaN,NaN
5,confsigmodkeim99,efficient_geometrybased_similarity_search_of_3...,sigmod_conference,1999,daniel_a_keim,NaN,NaN,NaN
6,journalssigmodouksel02,mining_the_world_wide_web_an_information_searc...,sigmod_record,2002,aris_m_ouksel,NaN,NaN,NaN
7,journalsvldbseshadri98,enhanced_abstract_data_types_in_objectrelation...,vldb_j,1998,praveen_seshadri,NaN,NaN,NaN
8,journalssigmodramamrithams97,report_on_dart_96_databases_active_and_realtim...,sigmod_record,1997,nandit_soparkar,krithi_ramamritham,NaN,NaN
9,journalssigmoddandreaj96,unisqls_nextgeneration_objectrelational_databa...,sigmod_record,1996,phil_janus,albert_dandrea,NaN,NaN

In [7]:
df.iloc[0,6]

nan

In [8]:
float(df.iloc[0,6])

nan

In [9]:
type(df.iloc[0,6])

float

In [10]:
df.iloc[0,6] == None

False

In [11]:
import math
math.floor(math.log10(abs(float(df.iloc[0,6]))))

ValueError: cannot convert float NaN to integer

In [12]:
math.log10(abs(float(df.iloc[0,6])))

nan

In [14]:
pd.isnull(None)

True

In [16]:
df=pd.read_csv('/home/francesco.pugnaloni/GeneralPurposeTableEmbedding/Tests/WA/Datasets/walmart_amazon-tableB.csv')

In [18]:
val = df.iloc[7861,3]

In [23]:
df.iloc[7861, :]

id                                                       7861
title       infinity_basslink_200watt_dual_10_powered_subw...
category                                 component_subwoofers
brand                                                infinity
modelno                                              basslink
price                                                  188.58
Name: 7861, dtype: object

In [21]:
val

'infinity'

In [19]:
type(val)

str

In [22]:
type(float(val))

float

In [24]:
df.shape

(22074, 6)

In [1]:
import torch
from transformers import BertModel, BertTokenizer

/home/francesco.pugnaloni/anaconda3/envs/HPIPyG/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

In [4]:
# Convert the string "granola bars" to tokenized vocabulary IDs
granola_ids = tokenizer.encode('granola bars')
# Print the IDs
print('granola_ids', granola_ids)
print('type of granola_ids', type(granola_ids))
# Convert the IDs to the actual vocabulary item
# Notice how the subword unit (suffix) starts with "##" to indicate 
# that it is part of the previous string
print('granola_tokens', tokenizer.convert_ids_to_tokens(granola_ids))

granola_ids [101, 12604, 6030, 6963, 102]
type of granola_ids <class 'list'>
granola_tokens ['[CLS]', 'gran', '##ola', 'bars', '[SEP]']

In [5]:
type(granola_ids)

list

In [6]:

# Convert the list of IDs to a tensor of IDs 
granola_ids = torch.LongTensor(granola_ids)
# Print the IDs
print('granola_ids', granola_ids)
print('type of granola_ids', type(granola_ids))

granola_ids tensor([  101, 12604,  6030,  6963,   102])
type of granola_ids <class 'torch.Tensor'>

In [1]:
import torch
from transformers import BertModel, BertTokenizer
from bert_embeddings import *

/home/francesco.pugnaloni/anaconda3/envs/HPIPyG/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.decoder.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.bias', 'cls.predictions.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [16]:
    s1 = 'i gatti sono animali'
    s2 = 'i cani sono animali'
    s3 = 'cats are animals'
    s4 = 'l\'acciaio non è un essere vivente'
    l = [s1,s2,s3,s4]
    bert = Bert_Embedding_Generator()
    emb_matrix = bert(l, strategy='average')


    cosi = torch.nn.CosineSimilarity(dim=0)
    distance = cosi(emb_matrix[0],emb_matrix[1])
    print(distance)
    print(emb_matrix.shape)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.weight', 'cls.predictions.bias', 'cls.seq_relationship.weight', 'cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

tensor(0.9655, device='cuda:0')
torch.Size([4, 768])

In [18]:
cosi(emb_matrix[0],emb_matrix[1])

tensor(0.9655, device='cuda:0')

In [19]:
cosi(emb_matrix[0],emb_matrix[2])

tensor(0.6008, device='cuda:0')

In [20]:
cosi(emb_matrix[2],emb_matrix[3])

tensor(0.3276, device='cuda:0')

In [21]:
cosi(emb_matrix[0],emb_matrix[3])

tensor(0.7842, device='cuda:0')

In [8]:
s1 = 'i gatti sono animali'
s2 = 'i cani sono animali'
s3 = 'cats are animals'
s4 = 'l\'acciaio non è un essere vivente'
l1 = [s1]
l2 = [s2]
l3 = [s3]
l4 = [s4]
bert = Bert_Embedding_Generator()

e1 = bert(l1, strategy='average')
e2 = bert(l2, strategy='average')
e3 = bert(l3, strategy='average')
e4 = bert(l4, strategy='average')

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.decoder.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.bias', 'cls.predictions.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [9]:
cosi = torch.nn.CosineSimilarity(dim=0)
cosi(e1,e2)

tensor(0.9390, device='cuda:0')

In [10]:
cosi(e1,e3)

tensor(0.5246, device='cuda:0')

In [11]:
cosi(e1,e4)

tensor(0.8503, device='cuda:0')